#mainNav {
    border-color: rgba(255,255,255,.3);
    background-color: #FF8500;
}

.navbar-default .navbar-header .navbar-brand {
	color: #777;
}

#home-content {
	margin-top: 70px;
}

#few-spots-left-div {
	background-color: #FF0000;
}

#is-full-div {
	background-color: #000000;
}

.ms-warning-label {
	float: right;
	padding: 10px;
	padding-bottom: 7px;
	border-radius: 3px;
	margin-bottom: 4px;
}

.mealshare-container {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	color: #FFFFFF;
	background-color: #FF8500;
	border-color: rgba(255,255,255,.3);
}

.description-container {
	background-color: #FFFAFA;
	color: #000000;
}

.btn-mealshare {
	color: #FFFFFF;
}

ul {
	list-style-type: none;
	padding: 0;
}


