#mainNav {
    border-color: rgba(255,255,255,.3);
    background-color: #FF8500;
}

.navbar-default .navbar-header .navbar-brand {
	color: #777;
}

#home-content {
	margin-top: 70px;
}

#new_mealshare_form input {
	width: 100%;
}

#new_mealshare_form textarea {
	width: 100%;
}

#nudl_footer {
	width: 100%;
	margin: auto;
	position: absolute;
	bottom: 0;
	text-align: center;
}

#host-box {
	border: 2px solid white;
	margin-top: 10px;
	padding-top: 5px;
	padding-bottom: 4px;
	margin-bottom: 1px;
	border-radius: 2px;
}

#host-box:hover {
	background-color: rgba(0,0,0,0.35);
}

.mealshare-container {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	color: #FFFFFF;
	background-color: #FF8500;
	border-color: rgba(255,255,255,.3);
}

ul {
	list-style-type: none;
	padding: 0;
}
